@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(255, 255, 255);
  
}
@font-face {
  font-family: 'sailec'; /* Your chosen font-family name */
  src: url('../public/fonts/sailec.ttf') format('truetype');
  /* Add other font formats if necessary */
  font-weight: normal;
  font-style: normal;
}
